
html {
  scroll-behavior: smooth;
}

.eligibilitybody{
    margin:0px;
    margin-top:0px;
    padding: 0px;
  }

  .sectionheader{
    padding-top: 5em;
  }

  .eligibilitynav{
    display: flex;
    top: 50px;
    width: 100%;
    overflow: hidden;
    height: 100px;
  }

  .left-links{
    flex: 1 1 900px;
    text-align: left;
  }

  .backlink {
    display: inline-block;
    text-align: right;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
  }

  .links:hover {
    color: gray;
  }


  #wholeblood {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:10px;
    margin-bottom: 20px;
    background-color: pink;
  }
  
  #powerred {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: yellow;
  }

  #platelet {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: pink;
  }
  
  #plasma {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: yellow;
  }
  
  