.faqbody{
  margin:0px;
  margin-top:0px;
  padding: 0px;
}
.faqnav{
  display: flex;
  top: 50px;
  width: 100%;
  overflow: hidden;
  height: 100px;
}
.left-links{
  flex: 1 1 900px;
  text-align: left;
}
.links {
  display: inline-block;
  text-align: right;
  padding: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.links:hover {
  color: gray;
}

h2 {
  font-weight: bolder;
  font-size: 35px;
}

  