.faqbody{
  margin:0px;
  margin-top:50px;
  padding: 0px;
}


.faqnav{
  display: flex;
  top: 80px;
  overflow: visible;
  height: 50px;
}


.left-links{
  flex: 0.5 0.5 100px;
  text-align: left;
}


.links {
  display: inline-block;
  text-align: right;
  padding: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}


.links:hover {
  color: gray;
}


.faqh2 {
  font-weight: bolder;
  font-size: 35px;
}

  