
.faqnav{
  display: flex;
  overflow: visible;
  height: 50px;
  margin-top:50px;
  margin-right: auto;
}


.left-links{
  text-align: left;
  flex-direction: column;
}


.links {
  display: inline-block;
  text-align: right;
  padding: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.links2 {
  display: inline-block;
  text-align: right;
  padding-top: 14px;
  padding-right: 100px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}


.links:hover {
  color: gray;
}


.faqh2 {
  font-weight: bolder;
  font-size: 35px;
}

  