.Header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-header {
  background-color: #f80000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.logo {
  display: inline-block;
  justify-self: start;
  margin-left: 20px;
  
}

.nav-links {
  list-style: none;
}
.nav-item {
  display: inline-block;
  padding: 10px 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item:hover a {
  color: gray;
}

.active{
  border-bottom: 3px solid black;
}

.nav-box {
  display: inline-block;
  padding: 10px 15px;
}

.nav-box:hover a {
  color: rgb(148, 148, 148);
}

.nav-box a{
  border: 1px solid white;
  color: black;
  border-radius: 30px;
  background-color: white;
  justify-content: 'center';
  padding: 5px 20px;
  text-decoration: none;
} 

.active-box {
  border: 1px solid black;
  color: black;
  border-radius: 30px;
  background-color: black;
  justify-content: 'center';
  padding: 5px 20px;
  text-decoration: none;
}


.logo img {
  width: 25px;
  vertical-align: middle;
}